.data{
  text-align: center;
  line-height: 70px;
  color: #e9ecef;
  font-weight: bold;
  border-radius: 2%;
}

.fat{
  background-color: #FBC02D;
}

.protein{
  background-color: #689F38;
}

.carbohydrates{
  background-color: #D32F2F;
}
