<div class="p-d-flex p-p-3 card" *ngFor="let item of collection$|async">
  <div class="p-d-flex w-100">
    <div class="p-mr-2 w-25 data fat">fat</div>
    <div class="p-mr-2 w-50 data protein">protein</div>
    <div class="p-mr-2 w-25 data carbohydrates">carbohydrates</div>
    <div class="p-mr-2 p-ml-auto">
      <button pButton pRipple type="button" icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-button-outlined p-mr-1" (click)="onEdit(item)"
              pTooltip="modify" tooltipPosition="top"></button>
      <button pButton pRipple type="button" icon="pi pi-times"
              class="p-button-rounded p-button-danger p-button-outlined" (click)="onDelete(item)" pTooltip="delete"
              tooltipPosition="top"></button>
    </div>
  </div>
</div>
