<div align="center">
  <p-card header="BMI RANGE" [style]="{'margin-bottom': '2em'}"  style="overflow-x:auto;">
    <table id="bmi">
      <tr>
        <th><pre>VALUE</pre></th>
        <th><pre>RANGE</pre></th>
      </tr>
      <tr>
        <td><pre>< 16.5</pre></td>
        <td><pre>GRAVE MAGREZZA</pre></td>
      </tr>
      <tr>
        <td><pre>16-18,49</pre></td>
        <td><pre>SOTTOPESO</pre></td>
      </tr>
      <tr>
        <td><pre>18.5-24,99</pre></td>
        <td><pre>NORMOPESO</pre></td>
      </tr>
      <tr>
        <td><pre>25-29,99</pre></td>
        <td><pre>SOVRAPPESO</pre></td>
      </tr>
      <tr>
        <td><pre>30-34,99</pre></td>
        <td><pre>OBESITÀ CLASSE I (lieve)</pre></td>
      </tr>
      <tr>
        <td><pre>35-39,99</pre></td>
        <td><pre>OBESITÀ CLASSE II (media)</pre></td>
      </tr>
      <tr>
        <td><pre>> 40</pre></td>
        <td><pre>OBESITÀ CLASSE III (grave)</pre></td>
      </tr>
    </table>
  </p-card>

</div>
