<div class="card">
  <p style="color: #898989; font-size: 1em">My Progress</p>
  <p-chart [height]=" 300" [width]="500" type="line" [data]="eats$ | async" [options]="eatOptions"></p-chart>
</div>
<p-toolbar styleClass="p-mb-4">
<!--  <ng-template pTemplate="left">
    <app-search [actions]="actions"></app-search>
  </ng-template>-->
  <ng-template pTemplate="left">
    <app-button-new-eat-daily class="p-mr-2"></app-button-new-eat-daily>
    <app-button-delete-eat-daily class="p-mr-2"></app-button-delete-eat-daily>
<!--    <app-button-edit-many-test-eat class="p-mr-2"></app-button-edit-many-test-eat>
    <app-button-create-many-test-eat></app-button-create-many-test-eat>-->
  </ng-template>
</p-toolbar>
<app-eat-daily-list></app-eat-daily-list>
