<p-dialog header="{{title}}"
          [transitionOptions]="'150ms cubic-bezier(0, 0, 0.2, 1)'"
          [visible]="true"
          [modal]="true"
          [responsive]="true"
          [style]="{minWidth: '300px', maxWidth:'600px'}"
          [minY]="70"
          [maximizable]="false"
          [closable]="false"
          (onHide)="cancel()"><!--cancel width: '70em' in style-->

  <div class="p-grid">
    <div class="p-col">

      <p-chart type="doughnut" [data]="data"></p-chart>


      <form
        class="dynamic-form"
        [formGroup]="form">


        <div class="p-grid">
          <div class="p-col">
            <label><strong>type</strong></label><br>
            <p-dropdown inputId="type" [options]="types" placeholder="Select"
                        optionLabel="name" [formControl]="type"></p-dropdown>
          </div>
        </div>

        <div class="p-grid" style="width: 15%;!important;">
          <div class="p-col">
            <label><strong>time</strong></label><br>
            <p-calendar [timeOnly]="true" inputId="timeonly" [formControl]="time"></p-calendar>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col">
            <label><strong>Food</strong></label><br>
            <p-autoComplete [suggestions]="options"
                            (completeMethod)="filterMethod($event)" field="Food_Name_ITA"
                            [dropdown]="true"
                            [formControl]="food">
              <ng-template let-item pTemplate="item">
                <div class="food-item">
                  <div>{{item.Food_Name_ITA}}</div>
                </div>
              </ng-template>
              <ng-template let-item pTemplate="selectedItem">
                <span style="font-size:18px">>{{item.Food_Name_ITA}}<</span>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>

        <div class="p-grid" style="display: none;">
          <div class="p-col">
            <label for="date"><strong>date</strong></label><br>
            <input id="date" name="date" class="form-control" pInputText [formControl]="date"/>
          </div>
        </div>
        <div style="width: 100%; text-align: right; padding: 10px">
          <button type="button" pButton icon="pi pi-plus"
                  label="Add Food"
                  class="p-button-success p-ml-auto"></button>
        </div>
      </form>

      <!--lista selezionati-->
      <app-selected-food-list></app-selected-food-list>

    </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton class="p-button-success mr-1" label="save" (click)="submit(form.getRawValue())"></button>
    <button pButton type="button" label="Cancel" (click)="cancel()"></button>
  </ng-template>

</p-dialog>
